<a href="https://colab.research.google.com/github/MdMamunSheikh/Nurse-Care-2022/blob/main/src/Python/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Target All

## Import Section

In [4]:
################### file module ###########################
import os

################### Data module ###########################
import pandas as pd
import numpy as np

################### Datetime module #######################
import datetime, pytz
from dateutil import parser

## File extraction

In [5]:
ROOT = "/content/drive/MyDrive/Datasets/Nurse Care 2022/"
os.chdir(ROOT)
!pwd

/content/drive/MyDrive/Datasets/Nurse Care 2022

In [6]:
# !wget "https://ieee-dataport.s3.amazonaws.com/competition/124306/Accelerometer%20Data.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJOHYI4KJCE6Q7MIQ%2F20220609%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220609T191216Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=86400&X-Amz-Signature=560b7a81dc7b5aec73da58542bf23a95aa679f1004d0188857a51abe04bc1834"
# !wget "https://ieee-dataport.s3.amazonaws.com/competition/124306/Care%20Record%20Data.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJOHYI4KJCE6Q7MIQ%2F20220609%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220609T191216Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=86400&X-Amz-Signature=4f77fdc6f5bd5f0fc22cdaa4cfa0d446cf265c8d8ab6f20dbbcd289f8f715447"
# !wget "https://ieee-dataport.s3.amazonaws.com/competition/124306/Tutorial%20Data.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJOHYI4KJCE6Q7MIQ%2F20220609%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220609T191216Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=86400&X-Amz-Signature=d4de6b581b94ede17037344e1d05b96c96f0c4866b5e1589d75a06cfbe1fec1a"

In [7]:
# !unzip "/content/drive/MyDrive/Datasets/Nurse Care 2022/Accelerometer Data.zip"
# !unzip "/content/drive/MyDrive/Datasets/Nurse Care 2022/Care Record Data.zip"
# !unzip "/content/drive/MyDrive/Datasets/Nurse Care 2022/Tutorial Data.zip"

## Data pre-processing

### Data

In [ ]:
DATA_DIR = "Accelerometer Data/"
id = 15
df = pd.read_csv(ROOT+DATA_DIR+f"acc_user{id}.csv")
df.shape

(9282475, 5)

In [ ]:
df.datetime = df.datetime.apply(lambda x: parser.parse(x).astimezone(pytz.UTC).replace(tzinfo = None))
df.head()

   subject_id                datetime      x      y      z
0          15 2018-05-02 08:23:12.944 -1.034  3.907 -8.734
1          15 2018-05-05 16:57:25.881 -4.980 -4.980 -6.776
2          15 2018-05-05 17:00:37.565  0.689 -5.669 -7.962
3          15 2018-05-05 12:26:19.491 -1.340 -8.964  0.221
4          15 2018-05-05 15:54:18.791 -1.302  0.459 -9.709

In [ ]:
df.to_pickle(ROOT+"Formated/Pickle/"+f"data_{id}.pkl", compression = "gzip")

In [ ]:
df.datetime = df.datetime.apply(lambda x: x.strftime("%H:%M:%S %d-%m-%Y"))

In [ ]:
df.to_csv(ROOT+"Formated/CSV/"+f"data_{id}.csv", index=False)

In [ ]:
df = pd.read_pickle(ROOT+"Formated/Pickle/"+f"data_{id}.pkl", compression  = "gzip")
df

         subject_id                datetime      x      y      z
0                15 2018-05-02 08:23:12.944 -1.034  3.907 -8.734
1                15 2018-05-05 16:57:25.881 -4.980 -4.980 -6.776
2                15 2018-05-05 17:00:37.565  0.689 -5.669 -7.962
3                15 2018-05-05 12:26:19.491 -1.340 -8.964  0.221
4                15 2018-05-05 15:54:18.791 -1.302  0.459 -9.709
...             ...                     ...    ...    ...    ...
9282470          15 2018-05-09 04:02:35.546 -9.538 -0.383 -0.424
9282471          15 2018-05-09 04:02:35.546 -9.538 -0.383 -0.424
9282472          15 2018-05-09 04:02:35.546 -9.538 -0.383 -0.424
9282473          15 2018-05-09 04:02:35.539 -9.538 -0.383 -0.424
9282474          15 2018-05-09 04:02:35.539 -9.538 -0.383 -0.424

[9282475 rows x 5 columns]

In [ ]:
df.dtypes

subject_id             int64
datetime      datetime64[ns]
x                    float64
y                    float64
z                    float64
dtype: object

### Label

In [112]:
DATA_DIR = "Care Record Data/"
id = 25
df = pd.read_csv(ROOT+DATA_DIR+f"train{id}.csv")
df.shape

(765, 9)

In [113]:
df = df[["user_id", "activity_type_id", "target_id", "start", "finish"]]
df = df.dropna().reset_index(drop=True)
df.head()

,user_id,activity_type_id,target_id,start,finish
0,25,26,25,2018-04-05 12:36:47+09:00,2018-04-05 13:57:36+09:00
1,25,26,25,2018-04-06 12:53:14+09:00,2018-04-06 14:23:37+09:00
2,25,26,25,2018-04-07 12:54:36+09:00,2018-04-07 14:14:57+09:00
3,25,26,25,2018-04-10 13:04:54+09:00,2018-04-10 14:05:57+09:00
4,25,26,25,2018-04-13 12:25:08+09:00,2018-04-13 13:53:37+09:00

In [114]:
df.start = df.start.apply(lambda x: parser.parse(x).astimezone(pytz.UTC).replace(tzinfo = None))
df.finish = df.finish.apply(lambda x: parser.parse(x).astimezone(pytz.UTC).replace(tzinfo = None))
df.head()

,user_id,activity_type_id,target_id,start,finish
0,25,26,25,2018-04-05 03:36:47,2018-04-05 04:57:36
1,25,26,25,2018-04-06 03:53:14,2018-04-06 05:23:37
2,25,26,25,2018-04-07 03:54:36,2018-04-07 05:14:57
3,25,26,25,2018-04-10 04:04:54,2018-04-10 05:05:57
4,25,26,25,2018-04-13 03:25:08,2018-04-13 04:53:37

In [115]:
df.to_pickle(ROOT+"Formated/Pickle/"+f"label_{id}.pkl", compression = "gzip")

In [116]:
df.start = df.start.apply(lambda x: x.strftime("%H:%M:%S %d-%m-%Y"))
df.finish = df.finish.apply(lambda x: x.strftime("%H:%M:%S %d-%m-%Y"))

In [117]:
df.to_csv(ROOT+"Formated/CSV/"+f"label_{id}.csv", index=False)

In [118]:
df = pd.read_pickle(ROOT+"Formated/Pickle/"+f"label_{id}.pkl", compression  = "gzip")
df

,user_id,activity_type_id,target_id,start,finish
0,25,26,25,2018-04-05 03:36:47,2018-04-05 04:57:36
1,25,26,25,2018-04-06 03:53:14,2018-04-06 05:23:37
2,25,26,25,2018-04-07 03:54:36,2018-04-07 05:14:57
3,25,26,25,2018-04-10 04:04:54,2018-04-10 05:05:57
4,25,26,25,2018-04-13 03:25:08,2018-04-13 04:53:37
...,...,...,...,...,...
744,25,18,25,2018-05-10 00:19:48,2018-05-10 00:52:31
745,25,18,25,2018-05-11 23:52:08,2018-05-11 02:15:38
746,25,18,25,2018-05-12 00:07:43,2018-05-12 00:32:59
747,25,18,25,2018-05-15 00:02:56,2018-05-15 00:49:11
748,25,18,25,2018-05-16 23:56:46,2018-05-16 00:56:57